h1{
    color: #1B4332;
    text-align: center;
}
p{
    color:#081C15;
    background-color: #95D5B2;

    padding: 15px;
    border: 10px solid #74C69D;

    margin: auto 50px;

    text-align: center;

}

/* 

  

*/